@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width:750px) {
    #main h1{
        font-size: 20px;
    }
    #main p{
        font-size: 15px;
    }
    #width{
        width: 80%;
    }
    
}